@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 67% 98%;
    --foreground: 222 84% 5%;
    --card: 216 67% 98%;
    --card-foreground: 222 84% 5%;
    --popover: 216 67% 98%;
    --popover-foreground: 222 84% 5%;
    --primary: 223 81% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 222 47% 11%;
    --muted: 220 13% 91%;
    --muted-foreground: 215 16% 47%;
    --accent: 223 81% 64%;
    --accent-foreground: 223 81% 34%;
    --destructive: 0 100% 71%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 13% 85%;
    --input: 220 13% 85%;
    --ring: 223 81% 54%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222 84% 5%;
    --foreground: 210 40% 98%;
    --card: 222 84% 5%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 5%;
    --popover-foreground: 210 40% 98%;
    --primary: 223 81% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 33% 18%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 18%;
    --muted-foreground: 215 20% 65%;
    --accent: 223 81% 70%;
    --accent-foreground: 223 81% 40%;
    --destructive: 0 80% 65%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 18%;
    --input: 217 33% 18%;
    --ring: 223 81% 60%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
